body
{
    background-color: black;
    color: white;
}
header
{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.bar
{
    width: 100%;
    overflow: hidden;
}
.blck
{
    color: #fff;
    background-color: #000;
}
.opacity
{
    opacity: 0.6;
}
#navbar a
{
    text-decoration: none;
    color: white;
}

.bar .bar-item
{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;

}
.bgimg
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(p1.jpg);
    height: 600px;
    opacity: 0.9;
}
.head
{
    color: #000;
    text-align: center;
}
.name
{
    padding-top: 100px;
    font-size: 80px;
    color:black;
    font-family: 'Oleo Script';
    
}
.head p a {
    background-color: rgb(255, 196, 0);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
}
.time {
    display: inline-block;
   /* border: 2px solid black; */
    background-color: orange;
    padding: 3px;
    color: white;
    padding: 3px;
    margin-top: 160px;
    margin-left: 16px;
}
.order {
    display: inline-block;
   /* border: 2px solid black; */
    background-color: rgb(49, 33, 4);
    float:right;
    padding: 3px;
    color: white;
    padding: 3px;
    margin-top: 160px;
    margin-left: 16px; 
}
.order a
{
    
    text-decoration: none;
    color: white;

}
#menu 
{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
 .main
{
    padding-top: 5%;
    margin-top: -14px;
    padding-bottom: 80px;
   text-align: center;
} 
.price
 {

    float: right;
    margin-right: 40px;
  
    display: inline-block;
    background-color: white;
    font-size: 25px;
    color: #000;
}

.Pizza {
       margin-top: 150px;
        margin-left: 250px;
        padding: 5px;
        background-color:moccasin;
        margin-right: 250px;
        color: black;
    }
#about {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 10px;

    /* margin-right: 170px; */
    background-color: rgb(252, 62, 62);
}
.about1 {
    padding-left: 180px;
    padding-right: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.data {
    /* font-size: 30px; */
    margin-bottom: 70px;
    text-align: center;
}
.cheff {
    float: right;
    height: 90px;
}

.col1 {
    float: right;
    margin-top: -150px;
}
.last {
    background-color: #607d8b;
    padding-left: 180px;
    padding-right: 180px;
    font-family: Oleo-script;
}

.last p {
    font-size: 15px;
}
.three p {
    font-size: 25px;
}

.cont {
    /* margin-top: ; */
    padding-top: 30px;
    text-align: center;
    margin-bottom: 44px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    
}
.first 
{
    border: 1px solid black;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.text 
{
    width: 1000px;
    height: 60px;
    font-size: 20px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}
.txt
{
    width: 800px;
    height: 60px;
    font-size: 20px;
    margin-left: 100px;;
}
#four{
    display: grid;
    /* display: inline-block; */
    grid: 150px / auto auto auto ;
gap: 100px;
text-align: center;
    margin-left: 20px;
    padding: 50px;
    /* padding-right: 300px; */
    

}
    #four img{
    width: 120px;
    padding-left: 30px;
}
#slider
{
    width: 100%;
    height: 550px;
    margin-top: 50px;
    background-image: url(res.jpg);
    background-size: 100% 100%;
    animation:slider 30s infinite ;
    animation-delay: 3s;
    transition:linear;
}
@keyframes slider
{
    0%{background-image: url(pexels-darya-sannikova-3570071.jpg);}
    35%{background-image: url(pexels-katerina-holmes-5908229.jpg);}
    75%{background-image: url(pexels-narda-yescas-1566837.jpg);}
    100%{background-image: url(p1.jpg);}
}