body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}
header
{  top: 0;
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:space-between ;
    z-index: 1;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    box-sizing: border-box;
}
#page-logo a 
{
  padding-left: 50px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 40px;
}
ul
{
    list-style: none;
}
header ul
{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:space-between ;
}
header nav ul li a
{ 
    padding: 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    font-size: 17px;
    padding:12px;
    font-weight: bold ;
    margin: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.2);
}
header li a:hover
{
  background-color: rgb(224, 89, 35);
  color:rgb(255, 255, 255); 
}
  footer
{
  text-align: center;
  width: 100%;
  height:80px;
  background-color: black;
  color: white;
  font-size: 10px;

}
footer a img{
  margin-top: 0px;
  height: 50px;
  width: 50px;
  
  text-align: center;
}
